<template />

<script setup lang="ts">
import { BoxGeometry, Mesh, MeshPhongMaterial, PointLight, Group, Color } from "three";
import { onBeforeRender, useThreeObject } from 'vue-three-js';
import { MidiEvent } from '../hooks';
import { TimeUnit, unitsToFrames } from '../utils/units';

const props = defineProps<{
	event: MidiEvent;
	duration: TimeUnit;
	color: number;
	debug?: boolean;
}>();

if (props.debug) console.log(props.event.value);

const color = new Color(props.color);
color.multiplyScalar(props.event.intensity / 255);

const emit = defineEmits<{
	(e: 'remove'): void
}>();

let frames = 0;
const framesMax = unitsToFrames(props.duration);

const box = new BoxGeometry(1, 1, 1);

const material = new MeshPhongMaterial({
	color: props.color,
	//emissive: props.color,
	emissiveIntensity: 1,
	transparent: true,
	reflectivity: 0,
});

const x = (props.event.value - 80) * 3;

const mesh = new Mesh(box, material);
//mesh.position.setX(x);
useThreeObject(mesh);

const light = new PointLight(props.color, 1, 100);
//light.position.setX(x);
useThreeObject(light);

onBeforeRender(() => {
	frames++;
	material.opacity = 1 - (frames / framesMax);
	mesh.position.setY(frames / 20);

	light.intensity = 1 - (frames / framesMax);
	light.distance = 100 * (1 - (frames / framesMax));
	light.position.setY(frames / 20);

	if (frames >= framesMax) {
		emit("remove");
	}
});
</script>