<template />

<script setup lang="ts">
import { DodecahedronGeometry, Mesh, LineBasicMaterial, LineSegments, PointLight, Group, Color } from "three";
import { onBeforeRender, useThreeObject, useBloomSelection } from 'vue-three-js';
import { MidiEvent } from '../hooks';
import { TimeUnit, unitsToFrames } from '../utils/units';

const props = defineProps<{
	event: MidiEvent;
	duration: TimeUnit;
	color: number;
	debug?: boolean;
}>();

if (props.debug) console.log(props.event.value);

const color = new Color(props.color);
color.multiplyScalar(props.event.intensity / 255);

const geometry = new DodecahedronGeometry(10, 0);
geometry.rotateX(props.event.value);
const material = new LineBasicMaterial({
	color: props.color,
	linewidth: 3,
	transparent: true,
});

const mesh = new LineSegments(geometry, material);
mesh.position.set(0, 10, 0);
mesh.scale.set(1, 1, 1);
useThreeObject(mesh);

const emit = defineEmits<{
	(e: 'remove'): void
}>();

let frames = 0;
const framesMax = unitsToFrames(props.duration);

onBeforeRender(() => {
	frames++;
	const progress = frames / framesMax;
	material.opacity = Math.pow(1 - progress, 2);

	const scale = 1 + (.1 * progress);
	mesh.scale.set(scale, scale, scale);

	if (frames >= framesMax) {
		emit("remove");
	}
});
</script>