<template />

<script setup lang="ts">
import { PlaneGeometry, MeshPhysicalMaterial, Mesh, Color } from "three";
import { onBeforeRender, useThreeObject } from "vue-three-js";

for (let i = 0; i < 10; i++) {
	for (let j = 0; j < 10; j++) {
		const material = new MeshPhysicalMaterial({
			color: new Color(0x101010).multiplyScalar(Math.random() + 0.5),
			reflectivity: 1,
			roughness: 1,
			clearcoat: 1,
		});

		const plane = new PlaneGeometry(28, 28);
		plane.rotateX(-Math.PI / 2);

		const mesh = new Mesh(plane, material);
		const y = Math.random() - 10;
		mesh.position.set(
			(i - 5) * 30,
			y,
			(j - 5) * 30,
		)

		useThreeObject(mesh);

		let frame = 0;
		const yVel = Math.random() + .5;
		onBeforeRender(() => {
			frame++;
			mesh.position.setY(
				y + Math.sin(frame*.01*yVel)*5
			);
		});
	}
}
</script>