<template />

<script setup lang="ts">
import { LineBasicMaterial, BufferGeometry, Vector3, Line } from "three";
import { useThreeObject } from "vue-three-js";

const GRID_SIZE = 15;
const material = new LineBasicMaterial({ color: 0 });

for (let i = -3; i < 3; i++) {
	for (let j = -3; j < 3; j++) {
		const geometryY = new BufferGeometry().setFromPoints([
			new Vector3(i*GRID_SIZE, -100, j*GRID_SIZE),
			new Vector3(i*GRID_SIZE, 100, j*GRID_SIZE),
		]);

		useThreeObject(new Line(geometryY, material));
	}
}
</script>