<template />

<script setup lang="ts">
import { DirectionalLight, Object3D } from "three";
import { onBeforeRender, useThreeObject } from "vue-three-js";
import { MidiEvent } from "../hooks";
import { TimeUnit, unitsToFrames } from "../utils/units";

const props = defineProps<{
	event: MidiEvent;
	duration: TimeUnit;
	color: number;
}>();

const light = new DirectionalLight(props.color, 0.5);
light.position.set(0, 0, 0);

const target = new Object3D();
target.position.set(0, -1, 1);
light.target = target;

useThreeObject(target);
useThreeObject(light);

const emit = defineEmits<{
	(e: 'remove'): void
}>();

let frames = 0;
const framesMax = unitsToFrames(props.duration);

onBeforeRender(() => {
	frames++;

	light.intensity = 1 - (frames / framesMax);

	if (frames > framesMax)
		emit("remove");
});
</script>