<template>
	<slot />
</template>

<script setup lang="ts">
import { parseMidi, parseMidis } from '../utils/parseMidi';
import { config } from '../config';
import { createMidiScheduler } from '../hooks';
import { onBeforeRender } from 'vue-three-js';
import { TimeUnit, unitsToFrames } from '../utils/units';

export type MidiTrack = {
	midi: string[];
	padStart?: TimeUnit;
	padEnd?: TimeUnit;
	audio: string;
	audioStart?: TimeUnit;
};

type MidiTrackProcessed = {
	midi: Awaited<ReturnType<typeof parseMidi>>[];
	midiFrames: number;
	padStart: number;
	padEnd: number;
	audio: HTMLAudioElement;
	audioStart: number;
};

const props = defineProps<{
	tracks: MidiTrack[];
}>();

const scheduler = createMidiScheduler();

let isPlaying = false;
let trackIndex = 0;
let frame = 0;

const tracks: MidiTrackProcessed[] = await Promise.all(props.tracks.map(async (track) => {
	const midi = await parseMidis(track.midi, config.fps);
	const padStart = unitsToFrames(track.padStart || 0);
	const padEnd = unitsToFrames(track.padEnd || 0);
	const midiFrames = padStart + Math.max(...midi.map(m => m.lengthFrames)) + padEnd;

	return {
		midi,
		padStart,
		padEnd,
		midiFrames,
		audio: new Audio(track.audio),
		audioStart: padStart + unitsToFrames(track.audioStart || 0),
	};
}));

function playTrack(track: MidiTrackProcessed) {
	if (isPlaying) return;

	const padStart = unitsToFrames(track.padStart || 0);

	// schedule all events
	for (const midi of track.midi) {
		for (const event of midi.events) {
			scheduler.schedule({
				...event,
				frame: padStart + event.frame,
			});
		}
	}

	console.log("playing track, frames:", track.midiFrames);

	isPlaying = true;
	frame = 0;
}

const isScript = window.location.search.includes("script=true");
if (isScript) {
	playTrack(tracks[trackIndex]);
} else {
	window.addEventListener("keydown", () => {
		if (!isPlaying) {
			trackIndex = 0;
			playTrack(tracks[trackIndex]);
		}
	});
}

onBeforeRender(async () => {
	if (isPlaying) {
		const track = tracks[trackIndex];
		if (track.audio && track.audioStart === frame) {
			track.audio.play();
		}

		scheduler.dispatchFrame(frame++);
		//if (frame % 100 === 0) console.log("frame", frame);

		if (frame > tracks[trackIndex].midiFrames) {
			console.log("track over");
			if (trackIndex < tracks.length - 1) {
				trackIndex += 1;
				playTrack(tracks[trackIndex]);
			} else {
				isPlaying = false;
			}
		}
	}
});
</script>