<template>
	<template v-for="entry in entries" :key="entry.uid">
		<slot :event="entry.event" :remove="() => handleRemove(entry.uid)" />
	</template>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { onMidiEvent, MidiEvent } from '../hooks';

const props = defineProps<{
	name: string;
	debug?: boolean;
}>();

type MidiEventEntry = {
	event: MidiEvent;
	uid: number;
};

const entries = ref<MidiEventEntry[]>([]);
let lastUid = 0;

function handleRemove(uid: number) {
	entries.value = entries.value.filter(e => e.uid !== uid);
}

if (props.debug) {
	window.addEventListener("keydown", (e) => {
		entries.value.push({
			event: {
				value: e.keyCode,
				intensity: 200,
				frame: 0,
				name: "debug",
			},
			uid: lastUid++,
		});
	});
}

onMidiEvent(props.name, (event) => {
	entries.value.push({
		event,
		uid: lastUid++,
	});
});
</script>
