<template>
	<template v-for="particle in particles" :key="particle.uid">
		<Group :position="particle.position">
			<slot :opacity="particle.opacity" />
		</Group>
	</template>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { Vector3 } from 'three';
import { onBeforeRender, Group } from 'vue-three-js';
import { MidiEvent } from '../hooks';
import { TimeUnit, unitsToFrames } from '../utils/units';

const props = defineProps<{
	event: MidiEvent;
	duration: TimeUnit;
	count: number;
}>();

type ParticleEntry = {
	uid: number;
	position: Vector3;
	opacity: number;
	velocity: Vector3;
};

const particles = ref<ParticleEntry[]>([]);

for (let i = 0; i < props.count; i++) {
	const position = new Vector3(
		Math.random()*100 - 50,
		Math.random()*100 - 50,
		Math.random()*100 - 50,
	);

	const velocity = new Vector3(
		Math.random() - 0.5,
		Math.random() - 0.5,
		Math.random() - 0.5,
	);

	particles.value.push({
		uid: i,
		opacity: 0,
		position, velocity,
	});
}

const emit = defineEmits<{
	(e: 'remove'): void
}>();

let frames = 0;
const framesMax = unitsToFrames(props.duration);

onBeforeRender(() => {
	frames++;
	const progress = frames / framesMax;
	const opacity = 1 - Math.pow(2*progress - 1, 2);

	for (const particle of particles.value) {
		particle.position.add(
			particle.velocity.clone().multiplyScalar(0.1)
		);

		particle.opacity = opacity;
	}

	if (frames >= framesMax) {
		emit("remove");
	}
});
</script>
