<template />

<script setup lang="ts">
import { RingGeometry, Mesh, MeshPhysicalMaterial, Color, Vector3 } from "three";
import { onBeforeRender, useThreeObject } from 'vue-three-js';
import { MidiEvent } from '../hooks';
import { TimeUnit, unitsToFrames } from '../utils/units';

const props = defineProps<{
	event: MidiEvent;
	duration: TimeUnit;
	color: number;
}>();

const color = new Color(props.color);
color.multiplyScalar(props.event.intensity / 255);

const emit = defineEmits<{
	(e: 'remove'): void
}>();

let frames = 0;
const framesMax = unitsToFrames(props.duration);

const ring = new RingGeometry(5.8, 6, 100, 20, 0, Math.PI * 2);

const material = new MeshPhysicalMaterial({
	color: props.color,
	reflectivity: 1,
	roughness: 1,
	clearcoat: 0,
	transparent: true,
});

const mesh = new Mesh(ring, material);
mesh.position.setY(props.event.value / 100);
mesh.position.setX((props.event.value % 10) - 5);
mesh.position.setZ(props.event.value - 100);
mesh.rotateX(-Math.PI / 2);
mesh.scale.set(0, 0, 0);
useThreeObject(mesh);

onBeforeRender(() => {
	frames++;
	const progress = frames / framesMax;
	material.opacity = .5 * (1 - progress);

	const scale = progress * 10;
	mesh.scale.set(scale, scale, scale);

	if (frames >= framesMax) {
		emit("remove");
	}
});
</script>
