<template>
	<Group
		:quaternion="rotate0"
	>
		<Group :quaternion="rotate">
			<slot />
		</Group>
	</Group>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { Quaternion, Vector3 } from "three";
import { onBeforeRender, Group } from 'vue-three-js';

const rotate0 = new Quaternion().setFromAxisAngle(new Vector3(1, 1, 0), Math.PI / 4);
const rotate = ref(new Quaternion());

let frame = 0;
onBeforeRender(() => {
	frame++;

	rotate.value = rotate.value.setFromAxisAngle(new Vector3(0, 1, 0), frame * .005);
});
</script>
