<template />

<script setup lang="ts">
import { onBeforeRender, useThreeObject } from 'vue-three-js';
import { Mesh, MeshBasicMaterial, PlaneGeometry } from 'three';
import { watchEffect } from 'vue';

const props = defineProps<{
	opacity: number;
}>();

const plane = new PlaneGeometry(.2, .2);
plane.rotateX(2 * Math.random() * Math.PI);

const material = new MeshBasicMaterial({
	color: 0xffffff,
	transparent: true,
	opacity: 0,
});

watchEffect(() => {
	material.opacity = props.opacity;
});

const mesh = new Mesh(plane, material);

useThreeObject(mesh);

let rot = 0;
onBeforeRender(() => {
	//mesh.rotateY(rot += 0.01);
});
</script>
