<script setup lang="ts">
import { ref, watchEffect, watch } from 'vue';
import { Canvas, ThreeObject, Group, useRenderer } from 'vue-three-js';
import { AmbientLight, OrthographicCamera, Quaternion, Vector3, Fog } from 'three';
import { useWindowSize } from '@vueuse/core';
import MidiProvider from './components/MidiProvider.vue';
import { config } from './config';
import MidiEvent from './components/MidiEvent.vue';
import Box from './components/Box.vue';
import Floor from './components/Floor.vue';
import Ring from './components/Ring.vue';
import Dodecahedron from './components/Dodecahedron.vue';
import SceneTransform from './components/SceneTransform.vue';
import Particles from './components/Particles.vue';
import Snowflake from './components/Snowflake.vue';
import Light from './components/Light.vue';
import { useMidiTracks } from './hooks';

const frustrumSize = 80;
const camera = new OrthographicCamera();

watchEffect(() => {
	const { width, height } = useWindowSize();
	const aspect = width.value / height.value;

	camera.left = frustrumSize * aspect / -2;
	camera.right = frustrumSize * aspect / 2;
	camera.top = frustrumSize / 2;
	camera.bottom = frustrumSize / -2;
	camera.near = -100;
	camera.far = 100;
	camera.updateProjectionMatrix();
});

const canvasElement = ref<HTMLCanvasElement|null>(null);
const isScript = window.location.search.includes("script=true");
const renderer = useRenderer({
	canvasElement,
	camera,
	clearColor: 0,
	fog: new Fog(0, 0, 120),
	autoplay: !isScript,
});

const light = new AmbientLight(0xa0a0a0);
const rot90 = new Quaternion().setFromAxisAngle(new Vector3(0, 1, 0), Math.PI / 2);

watch(renderer.isReady, (isReady) => console.log("ready:", isReady));

const midi = await useMidiTracks(config.tracks);

renderer.onBeforeRender(() => {
	midi.dispatchFrame();
});

if (isScript) {
	midi.play();
} else {
	window.addEventListener("keydown", midi.play);
}

// @ts-ignore
window.drawFrame = function() {
	renderer.render();
	return midi.isPlaying.value;
};
</script>

<template>
	<canvas ref="canvasElement" style="background-color: #000;" />

	<suspense>
		<template v-if="renderer.isReady">
			<ThreeObject :object="light" />

			<SceneTransform>
				<MidiEvent name="glass temper0" v-slot="{ event, remove }">
					<Group
						:position="[event.value % 20, 10, event.value % 14]"
						:quaternion="rot90"
					>
						<Box :event="event" duration="0.2s" :color="0xff80a0" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="glass temper1" v-slot="{ event, remove }">
					<Group
						:position="[-20, 0, (event.value - 80)*3 - 10]"
						:quaternion="rot90"
					>
						<Box :event="event" duration="1s" :color="0xffa0f0" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="glass temper2" v-slot="{ event, remove }">
					<Group :position="[(event.value - 80) * 3, 0, 10]">
						<Box :event="event" duration="1s" :color="0xffffff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="glass temper3" v-slot="{ event, remove }">
					<Group :position="[(event.value - 80) * 3, 0, 0]">
						<Box :event="event" duration="3s" :color="0x8080ff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="glass temper6" v-slot="{ event, remove }">
					<Dodecahedron :event="event" duration="0.5s" :color="0xffa0f0" @remove="remove" />
				</MidiEvent>

				<MidiEvent name="glass temper8" v-slot="{ event, remove }">
					<Particles :event="event" @remove="remove" v-slot="{ opacity }" duration="2s" :count="100">
						<Snowflake  :opacity="opacity" />
					</Particles>
				</MidiEvent>

				<MidiEvent name="glass temper11" v-slot="{ event, remove }">
					<Light duration="1s" :color="0xff0000" :event="event" @remove="remove" v-if="event.value === 37" />
				</MidiEvent>

				<MidiEvent name="glass temper12" v-slot="{ event, remove }">
					<Particles :event="event" @remove="remove" v-slot="{ opacity }" duration="2s" :count="100">
						<Snowflake  :opacity="opacity" />
					</Particles>
				</MidiEvent>

				<MidiEvent name="glass temper9" v-slot="{ event, remove }">
					<Group :position="[0, -5, 0]">
						<Ring :event="event" duration="2s" :color="0x50507d" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="acrylic0" v-slot="{ event, remove }">
					<Group :position="[((event.value - 80) * 3) % 50, 30, 0]">
						<Box :event="event" duration="3s" :color="0xffffff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="acrylic2" v-slot="{ event, remove }">
					<Group
						:position="[event.value % 20, 10, event.value % 14]"
						:quaternion="rot90"
					>
						<Box :event="event" duration="0.2s" :color="0xff80a0" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="acrylic3" v-slot="{ event, remove }">
					<Group
						:position="[event.value % 20, 0, event.value % 14]"
						:quaternion="rot90"
					>
						<Box :event="event" duration="1s" :color="0xffa0f0" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="acrylic5" v-slot="{ event, remove }">
					<Light duration="1s" :color="0xffa0a0" :event="event" @remove="remove" v-if="event.value === 51" />
					<Dodecahedron :event="event" duration="0.5s" :color="0xffa0f0" @remove="remove" v-if="event.value === 51" />
					<Particles :event="event" @remove="remove" v-slot="{ opacity }" duration="0.5s" :count="100" v-if="event.value === 51">
						<Snowflake  :opacity="opacity" />
					</Particles>
				</MidiEvent>

				<MidiEvent name="acrylic8" v-slot="{ event, remove }">
					<Group :position="[(event.value - 80) * 3, 0, 0]">
						<Box :event="event" duration="3s" :color="0x8080ff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="acrylic4" v-slot="{ event, remove }">
					<Group :position="[0, 0, ((event.value % 50) - 25)]">
						<Box :event="event" duration="3s" :color="0x4010a0" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="acrylic5" v-slot="{ event, remove }">
					<Group :position="[0, 0, ((event.value % 50) - 25)]">
						<Box :event="event" duration="3s" :color="0x4010a0" @remove="remove" v-if="event.value !== 51" />
					</Group>
				</MidiEvent>

				<MidiEvent name="outrush1" v-slot="{ event, remove }">
					<Group :position="[((event.value % 50) - 25), 0, 0]">
						<Box :event="event" duration="3s" :color="0x80609f" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="outrush4" v-slot="{ event, remove }">
					<Group :position="[0, 0, ((event.value % 50) - 25)]">
						<Box :event="event" duration="2s" :color="0x80607f" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="outrush5" v-slot="{ event, remove }">
					<Group :position="[0, 10, ((event.value % 50) - 25)]">
						<Box :event="event" duration="1s" :color="0xffa0f0" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="outrush6" v-slot="{ event, remove }">
					<Group :position="[0, 20, ((event.value % 50) - 25)]">
						<Box :event="event" duration="1s" :color="0x8080ff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="outrush8" v-slot="{ event, remove }">
					<Light duration="3s" :color="0xffa0a0" :event="event" />
					<Particles :event="event" @remove="remove" v-slot="{ opacity }" duration="4s" :count="100">
						<Snowflake  :opacity="opacity" />
					</Particles>
				</MidiEvent>

				<MidiEvent name="deluge1" v-slot="{ event, remove }">
					<Group :position="[((event.value % 50) - 25), 20, 10]">
						<Box :event="event" duration="1s" :color="0xa0a0a0" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="deluge2" v-slot="{ event, remove }">
					<Group :position="[-10, 0, ((event.value % 30) - 15)]">
						<Box :event="event" duration="0.5s" :color="0x40409f" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="deluge4" v-slot="{ event, remove }">
					<Group :position="[10, 0, ((event.value % 50) - 25)*3 - 20]">
						<Box :event="event" duration="2s" :color="0x90506f" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="deluge7" v-slot="{ event, remove }">
					<Group :position="[((event.value % 50) - 25), 20, 0]">
						<Box :event="event" duration="1s" :color="0xffffff" @remove="remove" v-if="event.value !== 36" />
						<Light duration="1s" :color="0xff2040" :event="event" @remove="remove" v-if="event.value === 52" />
					</Group>
				</MidiEvent>

				<MidiEvent name="deluge8" v-slot="{ event, remove }">
					<Group :position="[0, 0, ((event.value % 50) - 25)*3 - 20]">
						<Box :event="event" duration="2s" :color="0x80607f" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="unease0" v-slot="{ event, remove }">
					<Group :position="[20, 20, ((event.value % 50) - 25)]">
						<Box :event="event" duration="1s" :color="0x8080ff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="unease1" v-slot="{ event, remove }">
					<Dodecahedron :event="event" duration="0.5s" :color="0xffa0f0" @remove="remove" v-if="event.value === 32 || event.value === 33" />
				</MidiEvent>

				<MidiEvent name="unease2" v-slot="{ event, remove }">
					<Group :position="[0, 25, ((event.value % 50) - 25)*3 - 20]">
						<Box :event="event" duration="0.5s" :color="0xffffff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="unease3" v-slot="{ event, remove }">
					<Group :position="[0, 25, ((event.value % 50) - 25)*3 - 20]">
						<Box :event="event" duration="0.5s" :color="0xffffff" @remove="remove" />
					</Group>
				</MidiEvent>

				<MidiEvent name="unease6" v-slot="{ event, remove }">
					<Light duration="6s" :color="0xffffff" :event="event" />
					<Particles :event="event" @remove="remove" v-slot="{ opacity }" duration="10s" :count="100">
						<Snowflake  :opacity="opacity" />
					</Particles>
				</MidiEvent>


				<Floor />
			</SceneTransform>
		</template>
	</suspense>
</template>